<div class="container my-5">
    <div class="about-section">
        <h1>About Me</h1>
        <p>Some information about me and what I do.</p>
        <p>I am a second-year graduate student in the field of IT in business. </p>
        <p>
            I am interested in the subject of front-end, so in my spare time I read blogs, browse websites and groups devoted to designing and creating websites.
        </p>
    </div>
</div>


<div class="container py-4">
    <h2>Read more</h2>
    <div class="card-group border">
        <div class="card border-0">
            <div class="card-body ">
                <h3>Matthew</h3>
                <h6 class="card-title">front-end developer</h6>
                <br>
                <p class="card-text">I am interested in programming and designing websites.</p>
                <p>
                    This year I started learning how to create websites using HTML and CSS. Then I learned the Bootstrap
                    library.
                    I did the JavaScript basics course, and now I'm learning Angular.
                </p>
                <p>To contact me, click the button below:</p>
                <br>
                <button class="btn btn-dark" (click)="sendMail()">
                    <p class="card-text"><small>Contact</small></p>
                </button>
            </div>
        </div>
    </div>
</div>